<!--<div class="container vh-100">
	<div class="d-flex flex-column align-items-center">
		<div class="p-1">
			<video #video class="vid" autoplay></video>
		</div>
		<div class="pb-2">
			<button class="btn btn-primary" (click)="capture()">Capture Image</button>
		</div>
		<div class="p-1">
			<canvas #canvas class="vid"></canvas>
		</div>
	</div>
</div>
<ion-fab bottom center>
	<button ion-fab><ion-icon name="add"></ion-icon></button>
</ion-fab>
<ion-fab top right>
	<button ion-fab (click)="stopCamera()"><ion-icon name="close"></ion-icon></button>
</ion-fab>-->
<ion-header>
	<ion-navbar color="primary">
		<ion-title>QrCode</ion-title>
    <ion-buttons end>
			<button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<zxing-scanner [torch]="torchEnabled" [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)"
    [formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)"
    (camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>